* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
  .responsivenav {
    display: flex;
  }
}

@media screen and (min-width: 750px) {
  .responsivenav {
    display: none;
  }
  .navbar {
    display: flex;
  }
}

.glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 40px #0003;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 100000;
}

.flexgrow {
  width: 50%;
}

.skyblue {
  color: rgb(30 64 175);
}
