@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  overflow-x: hidden;
  min-height: 100%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(103, 103, 103, 1) 50%,
    rgba(247, 247, 247, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(103, 103, 103, 1) 50%,
    rgba(247, 247, 247, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(103, 103, 103, 1) 50%,
    rgba(247, 247, 247, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f7f7f7",GradientType=1);
}

#root {
  height: 100%;
}
.wrapper {
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  perspective: 10px;
  transform: translateZ(-10px);
}

.fadeLeftMini {
  animation: fadeLeftMini 2s;
  animation-fill-mode: both;
}

.fadeRightMini {
  animation: fadeRightMini 2s;
  animation-fill-mode: both;
}

@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeTopInfinite {
  0% {
    opacity: 0;
    transform: translateY(4.1rem);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeTopInfinite {
  animation: fadeTopInfinite 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeTopMini {
  0% {
    opacity: 0;
    transform: translateY(3.1rem);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(-0.3rem);
  }
}

.fadeTopMini {
  animation: fadeTopMini 2s;
  animation-fill-mode: both;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}



@media (max-width: 3500px) {
  .text-projects {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .text-projects {
    font-size: 1.3rem;
  }
}

@media (min-width: 700px) {
  .text-projects {
    font-size: 2rem;
  }
  .bgwavy {
    background-image: url("./assets/dian7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 700px) {
  .bgTransition {
    background: rgb(77, 77, 77);
    background: -moz-linear-gradient(
      184deg,
      rgba(77, 77, 77, 1) 0%,
      rgba(103, 103, 103, 1) 35%,
      rgba(104, 104, 104, 1) 100%
    );
    background: -webkit-linear-gradient(
      184deg,
      rgba(77, 77, 77, 1) 0%,
      rgba(103, 103, 103, 1) 35%,
      rgba(104, 104, 104, 1) 100%
    );
    background: linear-gradient(
      184deg,
      rgba(77, 77, 77, 1) 0%,
      rgba(103, 103, 103, 1) 35%,
      rgba(104, 104, 104, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d4d4d",endColorstr="#686868",GradientType=1);
  }
  .bg-certifications {
    background: rgb(236,236,236);
    background: -moz-linear-gradient(180deg, rgba(236,236,236,1) 10%, rgba(218,222,228,1) 19%, rgba(185,188,193,1) 34%, rgba(47,47,47,0.6195728291316527) 80%);
    background: -webkit-linear-gradient(180deg, rgba(236,236,236,1) 10%, rgba(218,222,228,1) 19%, rgba(185,188,193,1) 34%, rgba(47,47,47,0.6195728291316527) 80%);
    background: linear-gradient(180deg, rgba(236,236,236,1) 10%, rgba(218,222,228,1) 19%, rgba(185,188,193,1) 34%, rgba(47,47,47,0.6195728291316527) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#2f2f2f",GradientType=1);
  }
  .certificationTransition {
    height: 0.8rem;
    background: rgb(233, 233, 233);
    background: -moz-linear-gradient(
      90deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(253, 253, 253, 1) 0%,
      rgba(215, 215, 215, 1) 87%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(253, 253, 253, 1) 0%,
      rgba(215, 215, 215, 1) 87%
    );
    background: linear-gradient(
      90deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(253, 253, 253, 1) 0%,
      rgba(215, 215, 215, 1) 87%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e9e9",endColorstr="#d7d7d7",GradientType=1);
  }
}




html, body { height: 100%; }

