@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: rgb(71,71,71);
  background: linear-gradient(90deg, rgba(71,71,71,0.7567401960784313) 0%, rgba(235,235,235,1) 100%);
}

#root {
  height: 100%;

}
.wrapper {
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  perspective: 10px;
  transform: translateZ(-10px);
}

.fadeLeftMini {
  animation: fadeLeftMini 2s;
  animation-fill-mode: both;
}

.fadeRightMini {
  animation: fadeRightMini 2s;
  animation-fill-mode: both;
}

@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeTopInfinite {
  0% {
    opacity: 0;
    transform: translateY(4.1rem);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeTopInfinite {
  animation: fadeTopInfinite 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeTopMini {
  0% {
    opacity: 0;
    transform: translateY(3.1rem);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(-0.3rem);
  }
}

.fadeTopMini {
  animation: fadeTopMini 2s;
  animation-fill-mode: both;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}